a{
  text-decoration: none;
  color: white;
}
.infos {
  display: flex;
  font-size: 1.3rem;
  
}
.infosCarga {
  margin-top: 2rem;
}
.infosCarga span  {
  display:flex;
  font-size: 1.3rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.infoPrimary { 
  margin-top: 1.5rem;
  display: flex;
  width: 25rem;
  margin-left:5rem;
  word-break: break-all;
}
.anexo { 
  margin: 0rem 1rem;
  text-decoration: none;
  margin-top: 2rem;
  color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  background-color: var(--blue-light);
  border-radius: 50px;
  padding: 0.75rem;
}
.infoSecondary {
  margin-top: 1.5rem;
  display: flex;
  width: 25rem;
  
}
.infos p {
  width: 20rem;
  margin-right: 9rem;
}
.divForButton {
  display: flex;
  width: 40rem;
  justify-content: space-between;
 }

 @media (max-width: 768px) {
  .infos {
    flex-direction: column;
    font-size: 1.2rem;
  }
  .infoPrimary, .infoSecondary { 
    margin-top: 1.5rem;
    justify-content: center;
    width: auto;
    margin-left:0rem;
  }
  .divForButton {
    flex-direction: column;
    width: auto;
    justify-content: space-between;
   }
 }
 